.authButton {
  background-color: #000000;
  color: white;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
}

mat-form-field {
  width: 100%;
}

.mat-icon-button {
  aspect-ratio: 1/1;
}

table {
  width: 100%;
}

td, th {
  width: fit-content;
}
