<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.text"></p>

  <div *ngIf="!data.hideReason">
    <mat-form-field>
      <textarea matInput placeholder="Razlog za odbijanje" [(ngModel)]="reason"></textarea>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close *ngIf="!data.hideReason" (click)="onReject()">Odbij</button>
  <button mat-button mat-dialog-close *ngIf="data.hideReason" (click)="onAccept()">Prihvati</button>
  <button mat-button (click)="dialogRef.close()">Izlaz</button>
</div>
