<div class="row">
  <div class="col"><app-patent-obrazac [patentObrazac]="patentObrazac"></app-patent-obrazac>
  </div>
  <div class="col p-4" style="margin-left: 3%">
<!--    <ng-container  *ngIf="patentObrazac?.statusZahteva === 'PODNET'">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <form [formGroup]="priloziForm">-->
<!--            <div class="row">-->
<!--              <div class="col"></div>-->
<!--              <div class="col"><h2>Popunjava zavod</h2></div>-->
<!--              <div class="col"></div>-->
<!--            </div>-->
<!--            <div class="row" style="margin-bottom: 2%">-->
<!--              <div class="col"><span>Prilozi uz prijavu:</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <mat-checkbox formControlName="opisDelaChecked" color="primary">1. Opis autorskog dela (ako je podneto na optičkom disku)</mat-checkbox>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <mat-checkbox formControlName="primerDelaChecked" color="primary">2. Primer autorskog dela</mat-checkbox>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row" style="margin-top: 5%">-->
<!--        <div class="col">-->
<!--          <button mat-button [disabled]="!priloziForm.controls['primerDelaChecked'].value" style="color: white; background-color: black; width: 80%; margin-left: 20%" (click)="openConfirmationDialog()">Prihvati</button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <button mat-button style="color: white; background-color: black; width: 80%; margin-right: 10%" (click)="openRejectDialog()">Odbij</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
    <ng-container  *ngIf="patentObrazac?.['statusZahteva'] === 'PRIHVACEN'" style="display: flex; align-items: center">
      <span style="font-weight: bold">Status zahteva: </span>
      <span style="color: green; margin-left: 10px; font-weight: bold">Zahtev je PRIHVAĆEN.</span>
    </ng-container>
    <ng-container  *ngIf="patentObrazac?.['statusZahteva'] === 'ODBIJEN'" style="display: flex; align-items: center">
      <span style="font-weight: bold">Status zahteva: </span>
      <span style="color: red; margin-left: 10px; font-weight: bold">Zahtev je ODBIJEN.</span>
    </ng-container>
  </div>
</div>
