
mat-form-field {
    width: 100%;
}

.authForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

hr {
    border: none;
    background-color: #1714149d;
    height: 1px;
    width: 40%;
}

.authDivider {
    display: flex;
    justify-content: center;
    width: 100%;

}

.authDivider > p {
  display: flex;
  justify-content: center;
  width: 18%;
  color: rgba(102, 99, 99, 0.799);
}


.authButton {
    background-color: #000000;
    color: white;
    width: 100%;
}

.authBottom {
  margin-top: 1.5%;
}

