.toolbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.toolbar-logo{
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: space-between;
}
.toolbar-content{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.authentication{
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.markedLoginBtn {
  background-color: rgb(84, 84, 84);
}

