<div class="row">
  <div class="col-7">
    <app-zig-request [zig]="z1Obrazac"></app-zig-request>
  </div>
  <div class="col pt-4" style="margin-left: 3%">
    <ng-container *ngIf="z1Obrazac?.status === 'PODNET'">
      <div class="row">
        <div class="col"><h2 style="text-align: center">Regulisanje zahteva</h2></div>
      </div>
      <div class="row" style="margin-top: 5%">
        <div class="col">
          <button mat-button style="color: white; background-color: black; width: 80%; margin-left: 20%"
                  (click)="openConfirmationDialog()">Prihvati
          </button>
        </div>
        <div class="col">
          <button mat-button style="color: white; background-color: black; width: 80%; margin-right: 10%"
                  (click)="openRejectDialog()">Odbij
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="z1Obrazac?.status === 'PRIHVACEN'" style="display: flex; align-items: center">
      <span style="font-weight: bold">Status zahteva: </span>
      <span style="color: green; margin-left: 10px; font-weight: bold">Zahtev je PRIHVAĆEN.</span>
    </ng-container>
    <ng-container *ngIf="z1Obrazac?.status === 'ODBIJEN'" style="display: flex; align-items: center">
      <span style="font-weight: bold">Status zahteva: </span>
      <span style="color: red; margin-left: 10px; font-weight: bold">Zahtev je ODBIJEN.</span>
    </ng-container>
  </div>
</div>
